@import "../../../Variables.scss";

.providerRequestList {
  display: flex;
  flex-direction: column;
  row-gap: $negative-space;
  margin-left: 1rem;
}

.noProviderRequestsMessage {
  font-weight: 400;
  margin: $list-no-entries-message;
}
