@use "../../../styles/dimensions.scss";

.providerRequestList {
  display: flex;
  flex-direction: column;
  row-gap: dimensions.$negative-space;
}

.noProviderRequestsMessage {
  font-weight: 400;
  margin: 0 0 dimensions.$list-no-entries-message dimensions.$list-no-entries-message;
}
