.project {
  display: flex;
  flex-direction: row;
}

.projectDetails {
  display: flex;
  flex-direction: column;
}

.projectIcon {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  align-items: center;
}

.company {
  font-size: 1rem;
}

.title {
  margin: 0;
  color: black;
}

.location {
  font-size: 0.75rem;
}
