@use "../../../styles/colors.module.scss";
@use "../../../styles/dimensions.scss";

.title {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
}

.children {
  margin-left: 1rem;
  margin-top: dimensions.$negative-space;
}
