backend/dist
backend/node_modules
backend/*.tar
backend/.env.development
backend/.env.production
frontend/node_modules
frontend/build
frontend/*.tar
frontend/.env
frontend/.env.development
frontend/.env.production