$color-primary-darker: #38446B;
$color-primary-dark: #4B5781;
$color-primary: #7c89b1;
$color-primary-light: #a5afcf;
$color-primary-lighter: #bcc3dc;
$color-primary-lightest: #e6e9f1;
$color-accent: #c48f2e;
$color-secondary-darker: #0c2941;
$color-secondary-dark: #173a54;
$color-secondary: #2c5472;
$color-secondary-light: #7798b1;
$color-secondary-lighter: #c1d3e1;
$color-secondary-lightest: #d8e4ee;
$color-secondary-lightestest: #f5f8f9;
// $color-primary-darker: #B76B1F;
// $color-primary-dark: #DB8529;
// $color-primary: #E4A562;
// $color-primary-light: #F2D5B5;
// $color-primary-lighter: #F5EBE0;
// $color-accent: #146733;
// $color-secondary-darker: #153d66;
// $color-secondary-dark: #2a547f;
// $color-secondary: #205a99;
// $color-secondary-light: #518fd2;
// $color-secondary-lighter: #96bee8;
// $color-secondary-lightest: #e6edf4;
// $color-secondary-lightestest: #e6edf4;

$color-text: $color-primary-dark;
$color-error: rgba(255, 0, 0, 0.493);
$color-success: rgba(63, 150, 13, 0.493);
$color-hover: lighten($color-primary, 0.5);
$color-enabled: black;
$color-disabled: rgba(211, 211, 211, 0.63);


:export {
  colorDisabled: $color-disabled;
  colorPrimary: $color-primary;
  colorPrimaryDark: $color-primary-dark;
}