$color-primary-darker: #38446b;
$color-primary-dark: #4b5781;
$color-primary: #7c89b1;
$color-primary-light: #a5afcf;
$color-primary-lighter: #bcc3dc;
$color-primary-lightest: #e6e9f1;
$color-accent: #c48f2e;
$color-secondary-darker: #0c2941;
$color-secondary-dark: #173a54;
$color-secondary: #2c5472;
$color-secondary-light: #7798b1;
$color-secondary-lighter: #c1d3e1;
$color-secondary-lightest: #d8e4ee;
$color-secondary-lightestest: #f5f8f9;

$color-text: $color-primary-dark;
$color-text-on-light: $color-secondary-light;
$color-error: rgba(255, 0, 0, 0.493);
$color-success: rgba(63, 150, 13, 0.493);

$color-primary-lighten-50: lighten($color-primary, 0.5);

/* Components */
$color-button-background: $color-primary-lighter;
$color-button-text: $color-text;
$color-button-text-hover: $color-secondary-darker;
$color-button-hover: $color-primary-lighten-50;
$color-button-disabled: $color-secondary-lightest;

$color-button-background-outlined: $color-secondary-lightestest;
$color-button-outline: $color-primary-lighter;
$color-button-hover-outline: $color-primary-lighter;
$color-button-disabled-outline: $color-primary-lightest;
$color-button-text-disabled: $color-primary-light;

$color-button-dark-background: $color-primary;
$color-button-dark-text: $color-primary-lightest;
$color-button-hover-dark: $color-primary-light;

$color-card: $color-secondary;

$color-switch-on-state: $color-primary;
$color-switch-off-state: rgba(211, 211, 211, 0.63);
$color-switch-slider: $color-primary-dark;

$color-tab-selected: $color-secondary-darker;
$color-tab-unselected: $color-secondary-lighter;
$color-tabstrip-background: $color-primary;

/* Features */
$color-opportunity-section-trash-background: $color-secondary-dark;
$color-opportunity-item-background: $color-primary-lighten-50;

:export {
  colorPrimary: $color-primary;
  colorPrimaryDark: $color-primary-dark;
  colorSwitchOffState: $color-switch-off-state;
}