@import "./mixins.scss";
@import "./colors.module.scss";

.icon {
  @include hoverIcon;
  fill: $color-primary-dark;
}

.disabledIcon {
  fill: $color-disabled;
}

.input {
  font-size: large;
  padding: 0.25rem;
  outline: none;
  color: $color-primary-dark;
}
