@use "./colors.module.scss";
@use "./dimensions.scss";

@mixin buttonHover {
  &:hover {
    @extend .buttonActive;
    @content;
  }
}

.buttonActive {
  background-color: colors.$color-button-hover;
  color: colors.$color-button-text-hover;

  &.buttonOutlined {
    background-color: colors.$color-button-hover-outline;
  }
}

.heading {
  font-family: "MerriweatherSans";
}

.headingPageContent {
  @extend .heading;
  font-size: medium;
  font-weight: 500;
}

@mixin iconHover {
  &:hover {
    fill: colors.$color-button-hover;
  }
}

.icon {
  fill: colors.$color-primary-dark;
}

.iconHoverable {
  @extend .icon;
  @include iconHover;
}


.iconClickable {
  @extend .iconHoverable;
  cursor: pointer;
}

.iconDisabled {
  fill: colors.$color-button-text-disabled;
}

.input {
  font-size: large;
  padding: 0.4rem dimensions.$input-padding-sides;
  outline: none;
  color: colors.$color-primary-dark;
}