@import "./colors.module.scss";

@mixin hoverIcon {
  &:hover {
    fill: $color-button-hover;
  }
}

.icon {
  fill: $color-primary-dark;
}

.iconHoverable {
  @extend .icon;
  @include hoverIcon;
}


.iconClickable {
  @extend .iconHoverable;
  cursor: pointer;
}

.disabledIcon {
  fill: $color-button-text-disabled;
}

.input {
  font-size: large;
  padding: 0.4rem 0.25rem;
  outline: none;
  color: $color-primary-dark;
}

@mixin hoverButton {
  &:hover {
    @extend .buttonActive;
    @content;
  }
}

.buttonActive {
  background-color: $color-button-hover;
  color: $color-button-text-hover;
}