@import "./colors.module.scss";

@mixin medium-screen {
  @media (min-width: 28rem) {
    @content;
  }
}

@mixin large-screen {
  @media (min-width: 64rem) {
    @content;
  }
}

@mixin hoverIcon {
  &:hover {
    fill: $color-hover;
  }
}

@mixin hoverButton {
  &:hover {
    background-color: $color-hover;
    @content;
  }
}

@mixin glassy($color: $color-primary-light, $amount: 0.9) {
  background-color: transparentize($color, $amount);
  backdrop-filter: blur(4px);
}

@mixin transparent {
  background-color: transparent;
  border: 0;
  outline: none;
}
