@import "./colors.module.scss";

@mixin medium-screen {
  @media (min-width: 28rem) {
    @content;
  }
}

@mixin large-screen {
  @media (min-width: 64rem) {
    @content;
  }
}

@mixin hoverIcon {
  &:hover {
    fill: $color-hover;
  }
}

@mixin hoverButton {
  &:hover {
    background-color: $color-hover;
    @content;
  }
}

@mixin glassy($color: $color-primary, $amount: 0.5) {
  background-color: transparentize($color, $amount);
  border: 2px solid transparentize($color, calc($amount - 0.1));
  backdrop-filter: blur(4px);
}
