@use "../../../styles/dimensions.scss";

.opportunityDetails {
  height: 100%;
}

.item {
  display: flex;
  flex-direction: row;
  column-gap: dimensions.$negative-space;
  align-items: center;
}

.contact {
  width: 15rem;
}

.title {
  width: 10rem;
}
