@use "../../../styles/dimensions.scss";
@use "../../../styles/mixins.scss";


.page {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: dimensions.$negative-space;

  @include mixins.medium-screen {
    margin: 3rem 5rem;
  }
}
