@use "../../../styles/dimensions.scss";

.protectedPage {
  display: flex;
  flex-direction: column;
  row-gap: dimensions.$negative-space;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.backToStart {
  cursor: pointer;
}

.errorDisplay {
  margin-bottom: dimensions.$negative-space;
}
