@use "../../styles/dimensions.scss";
@use "../../styles/colors.module.scss";
@use "../../styles/mixins.scss";

.login {
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
  width: 20rem;

  @include mixins.medium-screen {
    width: 25rem;
  }

  @include mixins.large-screen {
    width: 30rem;
  }
}

.loginCard {
  display: flex;
  flex-direction: column;
  row-gap: dimensions.$negative-space;
  padding: 1rem;
}

.headline {
  margin-bottom: 0;
}

.register {
  display: flex;
  flex-direction: row;
  @include mixins.transparent;
  color: white;
  justify-content: right;
  &:hover {
    cursor: pointer;
  }
}

.errorMessage {
  background-color: colors.$color-error;
  color: white;
}

.successMessage {
  background-color: colors.$color-success;
  color: white;
}

.footer {
  display: flex;
  flex-direction: row;
  column-gap: dimensions.$negative-space;
  justify-content: right;
}
