@import "../../../Variables.scss";

.opportunityList {
  display: grid;
  flex-direction: column;
  row-gap: $negative-space;
}

.message {
  padding: $list-no-entries-message;
}

.message h3 {
  margin: 0;
}
