@use "../../../styles/dimensions.scss";

.opportunityList {
  display: grid;
  flex-direction: column;
  row-gap: dimensions.$negative-space;
}

.message {
  padding: dimensions.$list-no-entries-message;
}

.message h3 {
  margin: 0;
}
