@use "../../../styles/dimensions.scss";
@use "../../../styles/colors.module.scss";
@use "../../../styles/mixins.scss";
@use "../../../styles/components.module.scss";

.opportunitySection {
  display: flex;
  flex-direction: column;
}

.listsSection {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: dimensions.$negative-space;
}

.readingSection {
  width: 99%;
  height: 80vh;
}

.opportunitySubSection {
  margin-top: dimensions.$negative-space;
}

.reloadButton {
  display: flex;
  flex-direction: row;
  margin-bottom: dimensions.$negative-space;
  justify-content: space-between;
}

.settingsSection {
  margin-bottom: dimensions.$negative-space;
}

.toolbar {
  margin-bottom: dimensions.$negative-space;
}

.leftButtons {
  display: flex;
  flex-direction: row;
  column-gap: dimensions.$negative-space;
}

.itemApplied {
  @include mixins.glassy();
}

.itemTrash {
  @include mixins.glassy(colors.$color-secondary-dark, 0.8);
}