@use "../../../styles/colors.module.scss";
@use "../../../styles/dimensions.scss";
@use "../../../styles/mixins.scss";
@use "../../../styles/components.module.scss";

.settings {
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
  @include mixins.glassy();
}

.title {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  align-items: center;
  padding: 0.5rem;
  color: colors.$color-primary-dark;
  @extend .heading;
}

.icon {
  fill: colors.$color-primary-dark;
}

.title>h1 {
  margin: 0;
  font-size: 1.2rem;
}

.settingsContent {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-bottom: dimensions.$negative-space;
}