@import "../../../styles/colors.module.scss";
@import "../../../styles/dimensions.scss";

.settings {
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
}

.title {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  align-items: center;
  padding: 0.5rem;
  color: $color-primary-dark;
}

.icon {
  fill: $color-primary-dark;
}

.title > h1 {
  margin: 0;
  font-size: 1.2rem;
}

.settingsContent {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-bottom: $negative-space;
}
