@import '../../../styles/global.scss';

.dashboardItem {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 7rem;
  @include glassy();

  &:hover {
    @include glassy($color-button-hover, 0.5);
  }

}

.title {
  margin: 0;
  font-family: "MerriweatherSans";
  font-weight: 800;
}