@import '../../../styles/global.scss';

.dashboardItem {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 7rem;

  @include glassy();
}

.title {
  margin: 0;
  font-family: "MerriweatherSans";
  font-weight: 800;
}