@import "../../../Colors.scss";

.providerRequestInput {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  align-items: center;
}

.providerUrlInput {
  width: 20rem;
}

.requestTitleInput {
  width: 20rem;
}

.iconEnabled {
  fill: $color-enabled;
}

.iconDisabled {
  fill: $color-disabled;
}
