@import "../../../Mixins.scss";
@import "../../../Colors.scss";

.projectItem {
  display: flex;
  flex-direction: row;
}

.projectItemActivated {
  background-color: $color-hover;
}

.projectItemDeactivated {
  // background-color: white;
}

.projectItemDetails {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.projectItemIcon {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  align-items: center;
}

.icon {
  @include hoverIcon;
}

.company {
  font-size: 1rem;
}

.title {
  margin: 0;
  color: $primaryDark;
}

.titleLink {
  text-decoration: none;
}

.location {
  font-size: 0.75rem;
}