@import "../../../Mixins.scss";

.projectItem {
  display: flex;
  flex-direction: row;
}

.projectItemDetails {
  display: flex;
  flex-direction: column;
}

.projectItemIcon {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  align-items: center;
}

.icon {
  @include hover;
}

.company {
  font-size: 1rem;
}

.title {
  margin: 0;
  color: black;
}

.location {
  font-size: 0.75rem;
}
