@use "../../../../styles/colors.module.scss";
@use "../../../../styles/dimensions.scss";
@use "../../../../styles/components.module.scss";

.projectItem {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: space-between;
}

.header {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.headerTitleContainer {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
  cursor: pointer;
}

.projectTitle {
  font-size: large;
  font-weight: 600;
  @extend .heading;
}

.projectDescription {
  display: block;
  font-style: italic;
}

.durationContainer {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 100%;
}

.totalDurationTitle {
  font-size: large;
}

.totalDuration {
  font-size: large;
  font-weight: 600;
}

.currentDurationTitle {
  font-size: large;
  text-align: right;
  color: colors.$color-text-on-light;
}

.currentDuration {
  font-size: x-large;
  text-align: right;
  color: colors.$color-text-on-light;
}

.toolbarChildren {
  justify-content: right;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 5rem;
  padding-right: 5rem;
}

.buttonActiveTimer {
  @extend .buttonDark;
}