@import "../../../../styles/colors.module.scss";
@import "../../../../styles/dimensions.scss";

.projectItem {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: space-between;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto;
}

.headerButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.headerTitleContainer {
  display: flex;
  flex-direction: row;
  column-gap: $negative-space;
  align-items: start;
  cursor: pointer;
}

.title {
  margin: 0;
  text-transform: uppercase;
}

.input {
  margin: 0;
  color: $color-primary-dark;
  font-size: large;
  font-weight: 600;
  width: 90%;
}

.inputDisabled {
  background-color: transparent;
  outline: none;
  border: 0;
  pointer-events: none;
}

.durationContainer {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 100%;
}

.totalDurationTitle {
  color: $color-primary-dark;
  font-size: large;
}

.totalDuration {
  color: $color-primary-dark;
  font-size: large;
  font-weight: 600;
}

.currentDurationTitle {
  color: $color-text;
  font-size: large;
  text-align: right;
}

.currentDuration {
  color: $color-text;
  font-size: x-large;
  text-align: right;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 10rem;
}
