@import "../../styles/global.scss";

.button {
  display: flex;
  flex-direction: row;
  column-gap: $negative-space;
  margin: 0;
  font-size: medium;
  font-weight: 600;
  font-family: "SourceSans3";
  color: $color-button-text;
  background-color: $color-button-background;
  outline: none;
  border:none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
}

.buttonEnabled {
  @include buttonHover {
    cursor: pointer;
  }
}

.buttonDisabled {
  background-color: $color-button-disabled;
}

.buttonDisabled {
  color: $color-button-text-disabled;
}