@use "../../styles/colors.module.scss";
@use "../../styles/components.module.scss";
@use "../../styles/dimensions.scss";

.button {
  display: flex;
  flex-direction: row;
  column-gap: dimensions.$negative-space;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: medium;
  font-weight: 600;
  font-family: "SourceSans3";
  color: colors.$color-button-text;
  background-color: colors.$color-button-background;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: dimensions.$button-padding;
}

.buttonOutlined {
  outline: 2px solid colors.$color-button-outline;
  background-color: colors.$color-button-background-outlined;
}

.buttonEnabled {
  @include components.buttonHover {
    cursor: pointer;
  }
}

.buttonDisabled {
  background-color: colors.$color-button-disabled;
}

.buttonDisabled {
  color: colors.$color-button-text-disabled;
}