@import "../../Colors.scss";
@import "../../Mixins.scss";

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.buttonEnabled {
  color: black;
  @include hoverButton {
    cursor: pointer;
  }
}

.buttonDisabled {
  color: $color-disabled;
}
