@use "../../../styles/colors.module.scss";
@use "../../../styles/dimensions.scss";
@use "../../../styles/mixins.scss";
@use "../../../styles/components.module.scss";

.opportunityItem {
  display: flex;
  flex-direction: row;
  @include mixins.glassy(colors.$color-hover, 0.8);
}

.opportunityItemSelected {
  background-color: colors.$color-hover;
}

.opportunityItemDetails {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.opportunityItemIcon {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  align-items: center;
}

.opportunityDetails {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: dimensions.$negative-space;
}

.company {
  font-size: 1rem;
}

.title {
  margin: 0;
  color: colors.$color-primary-dark;
  @extend .heading;
  font-size: medium;
  font-weight: 800;
}

.titleLink {
  text-decoration: none;
}

.location {
  font-size: 0.75rem;
}