$color-primary: #4a7fac;
$color-primary-dark: #0a3f6d;
$color-secondary: #81b8b9;
$color-copy: white;
$color-error: rgba(255, 0, 0, 0.493);
$color-hover: lighten(#4a7fac, 0.5);
$color-enabled: black;
$color-disabled: lightgray;

:export {
  colorDisabled: $color-disabled;
  colorPrimary: $color-primary;
  colorPrimaryDark: $color-primary-dark;
}
