@use "../../../../styles/mixins.scss";
@use "../../../../styles/dimensions.scss";

.projectDetails {
  display: flex;
  flex-direction: column;
  row-gap: dimensions.$negative-space;
}

.button {
  @include mixins.transparent;
  text-align: start;
  align-self: flex-start;
}
