@import "../../../../styles/mixins.scss";
@import "../../../../styles/dimensions.scss";

.projectDetails {
  display: flex;
  flex-direction: column;
  row-gap: $negative-space;
}

.button {
  @include transparent;
  text-align: start;
}
