@use "../../../../styles/mixins.scss";
@use "../../../../styles/dimensions.scss";
@use "../../../../styles/colors.module.scss";
@use "../../../../styles/components.module.scss";

.projectDetails {
  display: flex;
  flex-direction: column;
  row-gap: dimensions.$negative-space;
}

.button {
  @include mixins.transparent;
  text-align: start;
  align-self: flex-start;
}

.title {
  color: colors.$color-primary-dark;
  margin: 0;
  @extend .heading;
}