@use "../../../../styles/dimensions.scss";
@use "../../../../styles/components.module.scss";

.projectSection {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.projectList {
  display: flex;
  flex-direction: column;
  row-gap: dimensions.$negative-space;
}

.title{
  margin: 0;
  @extend .headingPageContent;
}