@use "../../styles/dimensions.scss";

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.leftChildren {
  display: flex;
  flex-direction: row;
  column-gap: dimensions.$negative-space;
  flex-wrap: wrap;
  row-gap: 0.5rem;
}
