@use "../../../../styles/mixins.scss";
@use "../../../../styles/dimensions.scss";

.reportSection {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.timePeriodFilter {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  @include mixins.medium-screen {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    align-items: end;
  }
}