@use "../../styles/colors.module.scss";
@use "../../styles/components.module.scss";

.tabItem {
  color: colors.$color-tab-unselected;
  font-size: medium;
  font-weight: 600;
  text-transform: uppercase;
  @extend .heading;

  &:hover {
    cursor: pointer;
    color: colors.$color-tab-selected;
  }
}

.selectedTabItem {
  color: colors.$color-tab-selected;
}