@use "../../styles/colors.module.scss";

.tabItem {
  color: colors.$color-tab-unselected;
  font-size: medium;
  font-weight: 600;
  font-family: "MerriweatherSans";
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
    color: colors.$color-tab-selected;
  }
}

.selectedTabItem {
  color: colors.$color-tab-selected;
}