@import "../../../../styles/colors.module.scss";
@import "../../../../styles/mixins.scss";

.taskItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
}

.inputs {
  display: flex;
  flex-direction: column;

  @include medium-screen {
    flex-direction: row;
    column-gap: 2rem;
  }
}

.input {
  margin: 0;
  color: $color-primary-dark;
  font-size: large;
  font-weight: 600;
}

.inputDisabled {
  background-color: transparent;
  outline: none;
  border: 0;
  pointer-events: none;
}

.crudButtonPanel {
  align-items: start;
  @include medium-screen {
    align-items: center;
  }
}

.separator {
  width: 100%;
  height: 50%;
  margin-top: 1rem;
  margin-bottom: 1rem;

  @include medium-screen {
    border-bottom: 1px solid white;
    width: 2rem;
    margin: 0;
  }
}
