@use "../../../../styles/mixins.scss";
@use "../../../../styles/dimensions.scss";
@use "../../../../styles/colors.module.scss";

.taskItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
}

.inputs {
  display: flex;
  flex-direction: column;

  @include mixins.medium-screen {
    flex-direction: row;
    column-gap: 2rem;
  }
}

.input {
  margin: 0;
  font-size: large;
  font-weight: 600;
}

.inputDisabled {
  @include mixins.transparent;
  pointer-events: none;
}

.crudButtonPanel {
  align-items: start;
  @include mixins.medium-screen {
    align-items: center;
  }
}

.separator {
  width: 100%;
  height: 50%;
  margin-top: 1rem;
  margin-bottom: 1rem;

  @include mixins.medium-screen {
    width: 2rem;
    margin: 0;
  }
}

.timeSeparator {
  @extend .separator;
  border-bottom: 1px solid colors.$color-text;
}

.duration {
  font-size: large;
  font-weight: 700;
}

.durationTitle {
  margin-bottom: dimensions.$label-input-space;
}
