@import "../../../Variables.scss";
@import "../../../Colors.scss";

.projectSection {
  display: flex;
  flex-direction: column;
}

.listsSection {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: $negative-space;
}

.readingSection {
  width: 99%;
  height: 80vh;
}

.completedSection {
  margin-top: $negative-space;
}

.reloadButton {
  display: flex;
  flex-direction: row;
  margin-bottom: $negative-space;
  justify-content: space-between;
}

.settingsSection {
  margin-bottom: $negative-space;
}

.leftButtons {
  display: flex;
  flex-direction: row;
  column-gap: $negative-space;
}

.icon {
  fill: $primaryDark;
}