@use "../../../../styles/dimensions.scss";
@use "../../../../styles/mixins.scss";

.projectList {
  display: grid;

  grid-template-columns: 1fr;
  column-gap: 2rem;

  @include mixins.medium-screen {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
  }

  @include mixins.large-screen {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
  }

  row-gap: dimensions.$negative-space;
}
