@import "../../../styles/global.scss";

.dashboard {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1rem;
  row-gap: 1rem;

  @include medium-screen {
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }

  @include large-screen {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
  }
}
