@import '../../../styles/components.module.scss';

.providerRequestItem {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  align-items: center;
}

.providerType {
  width: 10rem;
}

.providerTitle {
  font-size: 1rem;
}

.providerUrl {
  font-size: 1rem;
  margin-left: 8rem;
}
